# ChatAnywhere API (получить: https://api.chatanywhere.tech/oauth/free/render)
CHATANYWHERE_API_KEY="sk-ваш_ключ_сюда"

# Базовый URL для ChatAnywhere API
# https://api.chatanywhere.tech/v1 - для стран не Китай
# https://api.chatanywhere.org/v1 - для Китая
BASE_URL=https://api.chatanywhere.tech/v1

# Включить режим отладки (True/False)
DEBUG=False
